/* CSS Document */
.glyphish-gray-48 {
                display: inline-block;
                background: url("images/glyphish_sprite_gray_48_transparent_bg.png") no-repeat;
			  /* background: url("images_white/glyphish_sprite_white_48_transparent_bg.png") no-repeat*/;
                width: 48px;
                height: 30px;
				cursor:pointer;
}
.glyphish-1{  background-position:-9px -57px; }
.glyphish-2{  background-position:-57px -57px; }
.glyphish-3{  background-position:-105px -57px; }
.glyphish-4{  background-position:-153px -57px; }
.glyphish-5{  background-position:-201px -57px; }
.glyphish-6{  background-position:-249px -57px; }
.glyphish-7{  background-position:-297px -57px; }
.glyphish-8{  background-position:-345px -57px; }
.glyphish-9{  background-position:-393px -57px; }
.glyphish-10{  background-position:-441px -57px; }
.glyphish-11{  background-position:0px -105px; }
.glyphish-12{  background-position:-48px -105px; }
.glyphish-13{  background-position:-96px -105px; }
.glyphish-14{  background-position:-144px -105px; }
.glyphish-15{  background-position:-192px -105px; }
.glyphish-16{  background-position:-240px -105px; }
.glyphish-17{  background-position:-288px -105px; }
.glyphish-18{  background-position:-336px -105px; }
.glyphish-19{  background-position:-384px -105px; }
.glyphish-20{  background-position:-432px -105px; }
.glyphish-21{  background-position:0px -153px; }
.glyphish-22{  background-position:-48px -153px; }
.glyphish-23{  background-position:-96px -153px; }
.glyphish-24{  background-position:-144px -153px; }
.glyphish-25{  background-position:-192px -153px; }
.glyphish-26{  background-position:-240px -153px; }
.glyphish-27{  background-position:-288px -153px; }
.glyphish-28{  background-position:-336px -153px; }
.glyphish-29{  background-position:-384px -153px; }
.glyphish-30{  background-position:-432px -153px; }
.glyphish-31{  background-position:0px -201px; }
.glyphish-32{  background-position:-48px -201px; }
.glyphish-33{  background-position:-96px -201px; }
.glyphish-34{  background-position:-144px -201px; }
.glyphish-35{  background-position:-192px -201px; }
.glyphish-36{  background-position:-240px -201px; }
.glyphish-37{  background-position:-288px -201px; }
.glyphish-38{  background-position:-336px -201px; }
.glyphish-39{  background-position:-384px -201px; }
.glyphish-40{  background-position:-432px -201px; }
.glyphish-41{  background-position:0px -249px; }
.glyphish-42{  background-position:-48px -249px; }
.glyphish-43{  background-position:-96px -249px; }
.glyphish-44{  background-position:-144px -249px; }
.glyphish-45{  background-position:-192px -249px; }
.glyphish-46{  background-position:-240px -249px; }
.glyphish-47{  background-position:-288px -249px; }
.glyphish-48{  background-position:-336px -249px; }
.glyphish-49{  background-position:-384px -249px; }
.glyphish-50{  background-position:-432px -249px; }
.glyphish-51{  background-position:0px -297px; }
.glyphish-52{  background-position:-48px -297px; }
.glyphish-53{  background-position:-96px -297px; }
.glyphish-54{  background-position:-144px -297px; }
.glyphish-55{  background-position:-192px -297px; }
.glyphish-56{  background-position:-240px -297px; }
.glyphish-57{  background-position:-288px -297px; }
.glyphish-58{  background-position:-336px -297px; }
.glyphish-59{  background-position:-384px -297px; }
.glyphish-60{  background-position:-432px -297px; }
.glyphish-61{  background-position:0px -345px; }
.glyphish-62{  background-position:-48px -345px; }
.glyphish-63{  background-position:-96px -345px; }
.glyphish-64{  background-position:-144px -345px; }
.glyphish-65{  background-position:-192px -345px; }
.glyphish-66{  background-position:-240px -345px; }
.glyphish-67{  background-position:-288px -345px; }
.glyphish-68{  background-position:-336px -345px; }
.glyphish-69{  background-position:-384px -345px; }
.glyphish-70{  background-position:-432px -345px; }
.glyphish-71{  background-position:0px -393px; }
.glyphish-72{  background-position:-48px -393px; }
.glyphish-73{  background-position:-96px -393px; }
.glyphish-74{  background-position:-144px -393px; }
.glyphish-75{  background-position:-192px -393px; }
.glyphish-76{  background-position:-240px -393px; }
.glyphish-77{  background-position:-288px -393px; }
.glyphish-78{  background-position:-336px -393px; }
.glyphish-79{  background-position:-384px -393px; }
.glyphish-80{  background-position:-432px -393px; }
.glyphish-81{  background-position:0px -441px; }
.glyphish-82{  background-position:-48px -441px; }
.glyphish-83{  background-position:-96px -441px; }
.glyphish-84{  background-position:-144px -441px; }
.glyphish-85{  background-position:-192px -441px; }
.glyphish-86{  background-position:-240px -441px; }
.glyphish-87{  background-position:-288px -441px; }
.glyphish-88{  background-position:-336px -441px; }
.glyphish-89{  background-position:-384px -441px; }
.glyphish-90{  background-position:-432px -441px; }
.glyphish-91{  background-position:0px -489px; }
.glyphish-92{  background-position:-48px -489px; }
.glyphish-93{  background-position:-96px -489px; }
.glyphish-94{  background-position:-144px -489px; }
.glyphish-95{  background-position:-192px -489px; }
.glyphish-96{  background-position:-240px -489px; }
.glyphish-97{  background-position:-288px -489px; }
.glyphish-98{  background-position:-336px -489px; }
.glyphish-99{  background-position:-384px -489px; }
.glyphish-100{  background-position:-432px -489px; }
.glyphish-101{  background-position:0px -537px; }
.glyphish-102{  background-position:-48px -537px; }
.glyphish-103{  background-position:-96px -537px; }
.glyphish-104{  background-position:-144px -537px; }
.glyphish-105{  background-position:-192px -537px; }
.glyphish-106{  background-position:-240px -537px; }
.glyphish-107{  background-position:-288px -537px; }
.glyphish-108{  background-position:-336px -537px; }
.glyphish-109{  background-position:-384px -537px; }
.glyphish-110{  background-position:-432px -537px; }
.glyphish-111{  background-position:0px -585px; }
.glyphish-112{  background-position:-48px -585px; }
.glyphish-113{  background-position:-96px -585px; }
.glyphish-114{  background-position:-144px -585px; }
.glyphish-115{  background-position:-192px -585px; }
.glyphish-116{  background-position:-240px -585px; }
.glyphish-117{  background-position:-288px -585px; }
.glyphish-118{  background-position:-336px -585px; }
.glyphish-119{  background-position:-384px -585px; }
.glyphish-120{  background-position:-432px -585px; }
.glyphish-121{  background-position:0px -633px; }
.glyphish-122{  background-position:-48px -633px; }
.glyphish-123{  background-position:-96px -633px; }
.glyphish-124{  background-position:-144px -633px; }
.glyphish-125{  background-position:-192px -633px; }
.glyphish-126{  background-position:-240px -633px; }
.glyphish-127{  background-position:-288px -633px; }
.glyphish-128{  background-position:-336px -633px; }
.glyphish-129{  background-position:-384px -633px; }
.glyphish-130{  background-position:-432px -633px; }
.glyphish-131{  background-position:0px -681px; }
.glyphish-132{  background-position:-48px -681px; }
.glyphish-133{  background-position:-96px -681px; }
.glyphish-134{  background-position:-144px -681px; }
.glyphish-135{  background-position:-192px -681px; }
.glyphish-136{  background-position:-240px -681px; }
.glyphish-137{  background-position:-288px -681px; }
.glyphish-138{  background-position:-336px -681px; }
.glyphish-139{  background-position:-384px -681px; }
.glyphish-140{  background-position:-432px -681px; }
.glyphish-141{  background-position:0px -729px; }
.glyphish-142{  background-position:-48px -729px; }
.glyphish-143{  background-position:-96px -729px; }
.glyphish-144{  background-position:-144px -729px; }
.glyphish-145{  background-position:-192px -729px; }
.glyphish-146{  background-position:-240px -729px; }
.glyphish-147{  background-position:-288px -729px; }
.glyphish-148{  background-position:-336px -729px; }
.glyphish-149{  background-position:-384px -729px; }
.glyphish-150{  background-position:-432px -729px; }
.glyphish-151{  background-position:0px -777px; }
.glyphish-152{  background-position:-48px -777px; }
.glyphish-153{  background-position:-96px -777px; }
.glyphish-154{  background-position:-144px -777px; }
.glyphish-155{  background-position:-192px -777px; }
.glyphish-156{  background-position:-240px -777px; }
.glyphish-157{  background-position:-288px -777px; }
.glyphish-158{  background-position:-336px -777px; }
.glyphish-159{  background-position:-384px -777px; }
.glyphish-160{  background-position:-432px -777px; }
.glyphish-161{  background-position:0px -825px; }
.glyphish-162{  background-position:-48px -825px; }
.glyphish-163{  background-position:-96px -825px; }
.glyphish-164{  background-position:-144px -825px; }
.glyphish-165{  background-position:-192px -825px; }
.glyphish-166{  background-position:-240px -825px; }
.glyphish-167{  background-position:-288px -825px; }
.glyphish-168{  background-position:-336px -825px; }
.glyphish-169{  background-position:-384px -825px; }
.glyphish-170{  background-position:-432px -825px; }
.glyphish-171{  background-position:0px -873px; }
.glyphish-172{  background-position:-48px -873px; }
.glyphish-173{  background-position:-96px -873px; }
.glyphish-174{  background-position:-144px -873px; }
.glyphish-175{  background-position:-192px -873px; }
.glyphish-176{  background-position:-240px -873px; }
.glyphish-177{  background-position:-288px -873px; }
.glyphish-178{  background-position:-336px -873px; }
.glyphish-179{  background-position:-384px -873px; }
.glyphish-180{  background-position:-432px -873px; }
.glyphish-181{  background-position:0px -921px; }
.glyphish-182{  background-position:-48px -921px; }
.glyphish-183{  background-position:-96px -921px; }
.glyphish-184{  background-position:-144px -921px; }
.glyphish-185{  background-position:-192px -921px; }
.glyphish-186{  background-position:-240px -921px; }
.glyphish-187{  background-position:-288px -921px; }
.glyphish-188{  background-position:-336px -921px; }
.glyphish-189{  background-position:-384px -921px; }
.glyphish-190{  background-position:-432px -921px; }
.glyphish-191{  background-position:0px -969px; }
.glyphish-192{  background-position:-48px -969px; }
.glyphish-193{  background-position:-96px -969px; }
.glyphish-194{  background-position:-144px -969px; }
.glyphish-195{  background-position:-192px -969px; }
.glyphish-196{  background-position:-240px -969px; }
.glyphish-197{  background-position:-288px -969px; }
.glyphish-198{  background-position:-336px -969px; }
.glyphish-199{  background-position:-384px -969px; }
.glyphish-200{  background-position:-432px -969px; }
.glyphish-201{  background-position:0px -1017px; }
.glyphish-202{  background-position:-48px -1017px; }
.glyphish-203{  background-position:-96px -1017px; }
.glyphish-204{  background-position:-144px -1017px; }
.glyphish-205{  background-position:-192px -1017px; }
.glyphish-206{  background-position:-240px -1017px; }
.glyphish-207{  background-position:-288px -1017px; }
.glyphish-208{  background-position:-336px -1017px; }
.glyphish-209{  background-position:-384px -1017px; }
.glyphish-210{  background-position:-432px -1017px; }
.glyphish-211{  background-position:0px -1065px; }
.glyphish-212{  background-position:-48px -1065px; }
.glyphish-213{  background-position:-96px -1065px; }
.glyphish-214{  background-position:-144px -1065px; }
.glyphish-215{  background-position:-192px -1065px; }
.glyphish-216{  background-position:-240px -1065px; }
.glyphish-217{  background-position:-288px -1065px; }
.glyphish-218{  background-position:-336px -1065px; }
.glyphish-219{  background-position:-384px -1065px; }
.glyphish-220{  background-position:-432px -1065px; }
.glyphish-221{  background-position:0px -1113px; }
.glyphish-222{  background-position:-48px -1113px; }
.glyphish-223{  background-position:-96px -1113px; }
.glyphish-224{  background-position:-144px -1113px; }
.glyphish-225{  background-position:-192px -1113px; }
.glyphish-226{  background-position:-240px -1113px; }
.glyphish-227{  background-position:-288px -1113px; }
.glyphish-228{  background-position:-336px -1113px; }
.glyphish-229{  background-position:-384px -1113px; }
.glyphish-230{  background-position:-432px -1113px; }
.glyphish-231{  background-position:0px -1161px; }
.glyphish-232{  background-position:-48px -1161px; }
.glyphish-233{  background-position:-96px -1161px; }
.glyphish-234{  background-position:-144px -1161px; }
.glyphish-235{  background-position:-192px -1161px; }
.glyphish-236{  background-position:-240px -1161px; }
.glyphish-237{  background-position:-288px -1161px; }
.glyphish-238{  background-position:-336px -1161px; }
.glyphish-239{  background-position:-384px -1161px; }
.glyphish-240{  background-position:-432px -1161px; }
.glyphish-241{  background-position:0px -1209px; }
.glyphish-242{  background-position:-48px -1209px; }
.glyphish-243{  background-position:-96px -1209px; }
.glyphish-244{  background-position:-144px -1209px; }
.glyphish-245{  background-position:-192px -1209px; }
.glyphish-246{  background-position:-240px -1209px; }
.glyphish-247{  background-position:-288px -1209px; }
.glyphish-248{  background-position:-336px -1209px; }
.glyphish-249{  background-position:-384px -1209px; }
.glyphish-250{  background-position:-432px -1209px; }
.glyphish-251{  background-position:0px -1257px; }
.glyphish-252{  background-position:-48px -1257px; }
.glyphish-253{  background-position:-96px -1257px; }
.glyphish-254{  background-position:-144px -1257px; }
.glyphish-255{  background-position:-192px -1257px; }
.glyphish-256{  background-position:-240px -1257px; }
.glyphish-257{  background-position:-288px -1257px; }
.glyphish-258{  background-position:-336px -1257px; }
.glyphish-259{  background-position:-384px -1257px; }
.glyphish-260{  background-position:-432px -1257px; }
.glyphish-261{  background-position:0px -1305px; }
.glyphish-262{  background-position:-48px -1305px; }
.glyphish-263{  background-position:-96px -1305px; }
.glyphish-264{  background-position:-144px -1305px; }
.glyphish-265{  background-position:-192px -1305px; }
.glyphish-266{  background-position:-240px -1305px; }
.glyphish-267{  background-position:-288px -1305px; }
.glyphish-268{  background-position:-336px -1305px; }
.glyphish-269{  background-position:-384px -1305px; }
.glyphish-270{  background-position:-432px -1305px; }
.glyphish-271{  background-position:0px -1353px; }
.glyphish-272{  background-position:-48px -1353px; }
.glyphish-273{  background-position:-96px -1353px; }
.glyphish-274{  background-position:-144px -1353px; }
.glyphish-275{  background-position:-192px -1353px; }
.glyphish-276{  background-position:-240px -1353px; }
.glyphish-277{  background-position:-288px -1353px; }
.glyphish-278{  background-position:-336px -1353px; }
.glyphish-279{  background-position:-384px -1353px; }
.glyphish-280{  background-position:-432px -1353px; }
.glyphish-281{  background-position:0px -1401px; }
.glyphish-282{  background-position:-48px -1401px; }
.glyphish-283{  background-position:-96px -1401px; }
.glyphish-284{  background-position:-144px -1401px; }
.glyphish-285{  background-position:-192px -1401px; }
.glyphish-286{  background-position:-240px -1401px; }
.glyphish-287{  background-position:-288px -1401px; }
.glyphish-288{  background-position:-336px -1401px; }
.glyphish-289{  background-position:-384px -1401px; }
.glyphish-290{  background-position:-432px -1401px; }
.glyphish-291{  background-position:0px -1449px; }
.glyphish-292{  background-position:-48px -1449px; }
.glyphish-293{  background-position:-96px -1449px; }
.glyphish-294{  background-position:-144px -1449px; }
.glyphish-295{  background-position:-192px -1449px; }
.glyphish-296{  background-position:-240px -1449px; }
.glyphish-297{  background-position:-288px -1449px; }
.glyphish-298{  background-position:-336px -1449px; }
.glyphish-299{  background-position:-384px -1449px; }
.glyphish-300{  background-position:-432px -1449px; }
.glyphish-8ball{  background-position:-384px -825px; }
.glyphish-action{  background-position:0px -1065px; }
.glyphish-action2{  background-position:-48px -1065px; }
.glyphish-airplane{  background-position:-336px -201px; }
.glyphish-album-closed{  background-position:0px -1305px; }
.glyphish-album-open{  background-position:-48px -1305px; }
.glyphish-alien{  background-position:-48px -1017px; }
.glyphish-at{  background-position:-288px -1401px; }
.glyphish-baby{  background-position:-240px -393px; }
.glyphish-bacon{  background-position:-48px -1113px; }
.glyphish-badge{  background-position:-336px -537px; }
.glyphish-balloon{  background-position:-144px -585px; }
.glyphish-bandaid{  background-position:-240px -153px; }
.glyphish-bank{  background-position:-432px -921px; }
.glyphish-bar-chart{  background-position:-288px -105px; }
.glyphish-barcode{  background-position:-192px -969px; }
.glyphish-barrier{  background-position:-144px -1257px; }
.glyphish-battery{  background-position:-384px -249px; }
.glyphish-beaker{  background-position:-432px -249px; }
.glyphish-beaker-2{  background-position:0px -489px; }
.glyphish-beer-glass{  background-position:-336px -441px; }
.glyphish-bell{  background-position:-144px -1401px; }
.glyphish-bird{  background-position:-96px -153px; }
.glyphish-birdhouse{  background-position:0px -1161px; }
.glyphish-bomb{  background-position:-96px -1401px; }
.glyphish-bomb2{  background-position:-432px -1401px; }
.glyphish-bone{  background-position:-336px -633px; }
.glyphish-book{  background-position:-240px -489px; }
.glyphish-bookmark{  background-position:-336px -297px; }
.glyphish-bow-and-arrow{  background-position:-192px -585px; }
.glyphish-bowtie{  background-position:-192px -777px; }
.glyphish-box{  background-position:-192px -1257px; }
.glyphish-box2{  background-position:-240px -1257px; }
.glyphish-box3{  background-position:-288px -1257px; }
.glyphish-brightness{  background-position:0px -345px; }
.glyphish-broadcast{  background-position:-192px -1353px; }
.glyphish-bug{  background-position:-432px -537px; }
.glyphish-building{  background-position:-288px -873px; }
.glyphish-bullhorn{  background-position:-144px -633px; }
.glyphish-butterfly{  background-position:-432px -825px; }
.glyphish-cabinet{  background-position:-96px -201px; }
.glyphish-calculator{  background-position:0px -825px; }
.glyphish-calendar{  background-position:-96px -441px; }
.glyphish-camera{  background-position:-240px -441px; }
.glyphish-card-clubs{  background-position:-432px -969px; }
.glyphish-card-diamonds{  background-position:-288px -969px; }
.glyphish-card-hearts{  background-position:-384px -969px; }
.glyphish-cards{  background-position:-48px -1401px; }
.glyphish-card-spades{  background-position:-336px -969px; }
.glyphish-chat{  background-position:-345px -57px; }
.glyphish-chat-2{  background-position:-393px -57px; }
.glyphish-checkmark{  background-position:-336px -1257px; }
.glyphish-chicken{  background-position:-384px -537px; }
.glyphish-circlex{  background-position:-336px -1449px; }
.glyphish-city{  background-position:-336px -873px; }
.glyphish-clapboard{  background-position:-432px -1353px; }
.glyphish-cleaver{  background-position:0px -1209px; }
.glyphish-clock{  background-position:0px -105px; }
.glyphish-cloud{  background-position:-144px -1161px; }
.glyphish-cloud{  background-position:-240px -297px; }
.glyphish-coat-hanger{  background-position:-336px -585px; }
.glyphish-coffee{  background-position:-144px -201px; }
.glyphish-coffee{  background-position:-432px -489px; }
.glyphish-collection{  background-position:0px -969px; }
.glyphish-compass{  background-position:0px -393px; }
.glyphish-compose{  background-position:-240px -1065px; }
.glyphish-contrast{  background-position:-48px -345px; }
.glyphish-controller{  background-position:-240px -585px; }
.glyphish-controller{  background-position:-240px -777px; }
.glyphish-count{  background-position:-432px -1257px; }
.glyphish-coupon{  background-position:-432px -1065px; }
.glyphish-credit-card{  background-position:-48px -969px; }
.glyphish-crop{  background-position:-48px -1449px; }
.glyphish-crown{  background-position:0px -1401px; }
.glyphish-dancesteps{  background-position:-288px -1209px; }
.glyphish-dashboard{  background-position:0px -441px; }
.glyphish-database{  background-position:-96px -1449px; }
.glyphish-dice{  background-position:-432px -633px; }
.glyphish-display{  background-position:-384px -345px; }
.glyphish-doghouse{  background-position:-336px -729px; }
.glyphish-dog-paw{  background-position:-48px -441px; }
.glyphish-download{  background-position:-192px -1305px; }
.glyphish-download{  background-position:-288px -297px; }
.glyphish-dramamasks{  background-position:0px -1353px; }
.glyphish-dropbox{  background-position:-288px -1017px; }
.glyphish-dumbells{  background-position:-384px -441px; }
.glyphish-egg{  background-position:-240px -1113px; }
.glyphish-ekg{  background-position:-288px -393px; }
.glyphish-envelope{  background-position:-336px -105px; }
.glyphish-equalizer{  background-position:-192px -489px; }
.glyphish-evernote{  background-position:-240px -1017px; }
.glyphish-eye{  background-position:-48px -105px; }
.glyphish-eyedropper{  background-position:-96px -873px; }
.glyphish-facebook{  background-position:-336px -1017px; }
.glyphish-facetime{  background-position:-192px -1401px; }
.glyphish-factory{  background-position:-192px -1017px; }
.glyphish-film-roll{  background-position:-96px -249px; }
.glyphish-fish{  background-position:-96px -1161px; }
.glyphish-flag{  background-position:-384px -297px; }
.glyphish-flags{  background-position:-384px -681px; }
.glyphish-flipcam{  background-position:-336px -1353px; }
.glyphish-flower{  background-position:-144px -1113px; }
.glyphish-food{  background-position:-192px -633px; }
.glyphish-fork-and-knife{  background-position:-336px -249px; }
.glyphish-fuel{  background-position:-288px -249px; }
.glyphish-gameplan{  background-position:0px -537px; }
.glyphish-gavel{  background-position:-240px -729px; }
.glyphish-gba{  background-position:-384px -1113px; }
.glyphish-gear{  background-position:-384px -105px; }
.glyphish-gear-2{  background-position:-432px -105px; }
.glyphish-genie-lamp{  background-position:-96px -921px; }
.glyphish-ghost{  background-position:-48px -681px; }
.glyphish-gift{  background-position:-144px -153px; }
.glyphish-glasses-1{  background-position:-96px -825px; }
.glyphish-glasses-2{  background-position:-144px -825px; }
.glyphish-glasses-3{  background-position:-192px -825px; }
.glyphish-globe{  background-position:-96px -1209px; }
.glyphish-golf{  background-position:-384px -633px; }
.glyphish-gradhat{  background-position:-432px -681px; }
.glyphish-grapes{  background-position:-96px -1353px; }
.glyphish-group{  background-position:-48px -585px; }
.glyphish-guitar{  background-position:-96px -777px; }
.glyphish-hammer{  background-position:0px -921px; }
.glyphish-happyface{  background-position:-384px -1305px; }
.glyphish-headphones{  background-position:-432px -585px; }
.glyphish-heart{  background-position:-384px -153px; }
.glyphish-hockeymask{  background-position:-192px -681px; }
.glyphish-house{  background-position:-96px -297px; }
.glyphish-idcard{  background-position:0px -1449px; }
.glyphish-id-card{  background-position:-96px -633px; }
.glyphish-imac{  background-position:-144px -873px; }
.glyphish-inbox{  background-position:-432px -201px; }
.glyphish-index-cards{  background-position:-144px -537px; }
.glyphish-ipad{  background-position:-240px -873px; }
.glyphish-iphone{  background-position:-48px -201px; }
.glyphish-ipod{  background-position:0px -201px; }
.glyphish-key{  background-position:-288px -1161px; }
.glyphish-key{  background-position:-432px -153px; }
.glyphish-lamp{  background-position:0px -729px; }
.glyphish-landscape{  background-position:0px -633px; }
.glyphish-lifebuoy{  background-position:-432px -441px; }
.glyphish-lightbulb{  background-position:-144px -441px; }
.glyphish-lighting{  background-position:-288px -1353px; }
.glyphish-line-chart{  background-position:-240px -105px; }
.glyphish-liquor-bottle{  background-position:-96px -729px; }
.glyphish-list{  background-position:-384px -1257px; }
.glyphish-location{  background-position:-144px -393px; }
.glyphish-location-arrow{  background-position:-96px -969px; }
.glyphish-lock{  background-position:-144px -297px; }
.glyphish-loopback{  background-position:-105px -57px; }
.glyphish-lure{  background-position:-48px -1257px; }
.glyphish-macbook{  background-position:-192px -873px; }
.glyphish-macroflower{  background-position:-144px -1449px; }
.glyphish-magnet{  background-position:-96px -1113px; }
.glyphish-magnify{  background-position:-249px -57px; }
.glyphish-map{  background-position:-96px -537px; }
.glyphish-map-marker{  background-position:-297px -57px; }
.glyphish-martini{  background-position:-144px -729px; }
.glyphish-medical{  background-position:-441px -57px; }
.glyphish-medical-bag{  background-position:-384px -393px; }
.glyphish-messenger-bag{  background-position:-48px -921px; }
.glyphish-microphone{  background-position:-240px -345px; }
.glyphish-moon{  background-position:-240px -633px; }
.glyphish-movie-1{  background-position:-192px -249px; }
.glyphish-movie-2{  background-position:-240px -249px; }
.glyphish-navigation{  background-position:-96px -585px; }
.glyphish-necktie{  background-position:-144px -777px; }
.glyphish-nescontroller{  background-position:-336px -1113px; }
.glyphish-network{  background-position:-192px -297px; }
.glyphish-newspaper{  background-position:-240px -825px; }
.glyphish-note{  background-position:-192px -345px; }
.glyphish-note-2{  background-position:-144px -969px; }
.glyphish-notepad{  background-position:-384px -873px; }
.glyphish-orgchart{  background-position:-432px -1449px; }
.glyphish-outlet{  background-position:0px -297px; }
.glyphish-paint-roller{  background-position:-336px -921px; }
.glyphish-palette{  background-position:-336px -489px; }
.glyphish-paperairplane{  background-position:-192px -1209px; }
.glyphish-paperclip{  background-position:-336px -345px; }
.glyphish-pencil{  background-position:-288px -921px; }
.glyphish-person{  background-position:-96px -1257px; }
.glyphish-persondot{  background-position:-192px -729px; }
.glyphish-phone{  background-position:-192px -393px; }
.glyphish-photos{  background-position:-48px -249px; }
.glyphish-piano{  background-position:-192px -537px; }
.glyphish-picture-frame{  background-position:0px -249px; }
.glyphish-piechart{  background-position:-384px -1209px; }
.glyphish-piggy-bank{  background-position:-384px -585px; }
.glyphish-pill{  background-position:-144px -489px; }
.glyphish-pin{  background-position:-48px -393px; }
.glyphish-pine-tree{  background-position:-48px -297px; }
.glyphish-pizza{  background-position:-240px -1449px; }
.glyphish-planet{  background-position:-288px -153px; }
.glyphish-plant{  background-position:-192px -1113px; }
.glyphish-plant{  background-position:-384px -921px; }
.glyphish-poison{  background-position:-240px -1353px; }
.glyphish-popsicle{  background-position:-288px -729px; }
.glyphish-presentation{  background-position:-288px -681px; }
.glyphish-pricetag{  background-position:-48px -873px; }
.glyphish-printer{  background-position:-192px -921px; }
.glyphish-psp{  background-position:-288px -1113px; }
.glyphish-purse{  background-position:-192px -1161px; }
.glyphish-puzzle-piece{  background-position:-288px -489px; }
.glyphish-radar{  background-position:-96px -393px; }
.glyphish-radiation{  background-position:-240px -969px; }
.glyphish-ramen{  background-position:-48px -1209px; }
.glyphish-receipt{  background-position:-48px -825px; }
.glyphish-recordplayer{  background-position:0px -1113px; }
.glyphish-redo{  background-position:-57px -57px; }
.glyphish-refresh{  background-position:-9px -57px; }
.glyphish-reply{  background-position:-96px -1065px; }
.glyphish-replyall{  background-position:-144px -1065px; }
.glyphish-retweet{  background-position:-336px -1401px; }
.glyphish-road{  background-position:-336px -1161px; }
.glyphish-rocket{  background-position:-384px -1401px; }
.glyphish-rolodex{  background-position:-48px -777px; }
.glyphish-route{  background-position:-240px -1209px; }
.glyphish-router{  background-position:-144px -1353px; }
.glyphish-rubberstamp{  background-position:-144px -1209px; }
.glyphish-ruler{  background-position:-240px -921px; }
.glyphish-runner{  background-position:-96px -345px; }
.glyphish-sailboat{  background-position:-432px -729px; }
.glyphish-scales{  background-position:-336px -681px; }
.glyphish-scissors{  background-position:-384px -1065px; }
.glyphish-screen{  background-position:-384px -1161px; }
.glyphish-shield{  background-position:-192px -1449px; }
.glyphish-shoebox{  background-position:-144px -249px; }
.glyphish-shopping{  background-position:-192px -201px; }
.glyphish-shoppingbag{  background-position:-240px -1161px; }
.glyphish-shopping-cart{  background-position:-432px -393px; }
.glyphish-shuffle{  background-position:-201px -57px; }
.glyphish-sign{  background-position:-336px -1209px; }
.glyphish-signpost{  background-position:-432px -297px; }
.glyphish-sketchbook{  background-position:-432px -1161px; }
.glyphish-skull{  background-position:0px -153px; }
.glyphish-skull-n-bones{  background-position:-48px -153px; }
.glyphish-sliders{  background-position:-240px -537px; }
.glyphish-sock{  background-position:-288px -633px; }
.glyphish-sound-off{  background-position:-96px -1305px; }
.glyphish-sound-on{  background-position:-144px -1305px; }
.glyphish-speaker{  background-position:-288px -1449px; }
.glyphish-speechbubble{  background-position:-240px -1401px; }
.glyphish-spiderweb{  background-position:-96px -1017px; }
.glyphish-spraycan{  background-position:-384px -201px; }
.glyphish-squiggle{  background-position:-153px -57px; }
.glyphish-star{  background-position:-336px -153px; }
.glyphish-stats{  background-position:-432px -1209px; }
.glyphish-stats{  background-position:-48px -633px; }
.glyphish-stickynote{  background-position:-432px -873px; }
.glyphish-stopwatch{  background-position:-336px -393px; }
.glyphish-subscription{  background-position:-192px -1065px; }
.glyphish-suitcase{  background-position:-288px -201px; }
.glyphish-sun{  background-position:0px -873px; }
.glyphish-sword{  background-position:0px -1257px; }
.glyphish-tag{  background-position:-144px -105px; }
.glyphish-tags{  background-position:-192px -105px; }
.glyphish-target{  background-position:-96px -105px; }
.glyphish-telescope{  background-position:0px -777px; }
.glyphish-test-tube{  background-position:-48px -489px; }
.glyphish-thermometer{  background-position:-96px -489px; }
.glyphish-ticket{  background-position:-384px -1449px; }
.glyphish-todo{  background-position:-288px -585px; }
.glyphish-toolbox{  background-position:-240px -201px; }
.glyphish-tower{  background-position:0px -681px; }
.glyphish-tractor{  background-position:-240px -681px; }
.glyphish-trash{  background-position:-288px -1065px; }
.glyphish-trash2{  background-position:-336px -1065px; }
.glyphish-trophy{  background-position:-192px -441px; }
.glyphish-tshirt{  background-position:-288px -345px; }
.glyphish-tv{  background-position:-432px -345px; }
.glyphish-twitter{  background-position:-384px -1017px; }
.glyphish-twitterbird{  background-position:-432px -1017px; }
.glyphish-ufo{  background-position:-96px -681px; }
.glyphish-umbrella{  background-position:-384px -489px; }
.glyphish-unhappyface{  background-position:-432px -1305px; }
.glyphish-upload{  background-position:-240px -1305px; }
.glyphish-upload-photo{  background-position:-288px -825px; }
.glyphish-upload-photo-2{  background-position:-336px -825px; }
.glyphish-user{  background-position:0px -585px; }
.glyphish-vampire{  background-position:0px -1017px; }
.glyphish-videocamera{  background-position:-384px -1353px; }
.glyphish-viking{  background-position:-144px -681px; }
.glyphish-voicemail{  background-position:-384px -777px; }
.glyphish-voicemail-2{  background-position:-432px -777px; }
.glyphish-walk{  background-position:-48px -537px; }
.glyphish-wallet{  background-position:-144px -1017px; }
.glyphish-warning{  background-position:-144px -921px; }
.glyphish-weather{  background-position:-192px -153px; }
.glyphish-whale{  background-position:-48px -1161px; }
.glyphish-widescreen{  background-position:-288px -537px; }
.glyphish-wiimote{  background-position:-432px -1113px; }
.glyphish-windmill{  background-position:-384px -729px; }
.glyphish-windows{  background-position:-48px -1353px; }
.glyphish-wine-bottle{  background-position:-48px -729px; }
.glyphish-wine-glass{  background-position:-288px -441px; }
.glyphish-wrench{  background-position:-288px -777px; }
.glyphish-wrench-2{  background-position:-336px -777px; }
.glyphish-zap{  background-position:-144px -345px; }
.glyphish-zoomin{  background-position:-288px -1305px; }
.glyphish-zoomout{  background-position:-336px -1305px; }

/* CUSTOM NAMES BELOW */
.glyphish-users{  background-position:-48px -585px; }
.glyphish-user{  background-position:0px -585px; }

