/* CSS Document */
.glyphish-file{
		/*display: inline-block;*/
		background-repeat:no-repeat;
		background-position:center;	
		height:33px;
		cursor:pointer;
}
.eye { background-image: url( 'images/12-eye.png');}
.plus { background-image: url( 'images_white/50-plus.png');}
.minus { background-image: url( 'images_white/45-minus.png');}
.printer { background-image: url( 'images/185-printer.png');}
.flipcam { background-image: url( 'images/278-flipcam.png');}
.flipcam@2x { background-image: url( 'images/278-flipcam@2x.png');}
.videocamera { background-image: url( 'images/279-videocamera.png');}
.videocamera@2x { background-image: url( 'images/279-videocamera@2x.png');}
.star { background-image: url( 'images/28-star.png');}
.star@2x { background-image: url( 'images/28-star@2x.png');}
.clapboard { background-image: url( 'images/280-clapboard.png');}
.clapboard@2x { background-image: url( 'images/280-clapboard@2x.png');}
.crown { background-image: url( 'images/281-crown.png');}
.crown@2x { background-image: url( 'images/281-crown@2x.png');}
.cards { background-image: url( 'images/282-cards.png');}
.cards@2x { background-image: url( 'images/282-cards@2x.png');}
.bomb { background-image: url( 'images/283-bomb.png');}
.bomb@2x { background-image: url( 'images/283-bomb@2x.png');}
.bell { background-image: url( 'images/284-bell.png');}
.bell@2x { background-image: url( 'images/284-bell@2x.png');}
.facetime { background-image: url( 'images/285-facetime.png');}
.facetime@2x { background-image: url( 'images/285-facetime@2x.png');}
.speechbubble { background-image: url( 'images/286-speechbubble.png');}
.speechbubble@2x { background-image: url( 'images/286-speechbubble@2x.png');}
.at { background-image: url( 'images/287-at.png');}
.at@2x { background-image: url( 'images/287-at@2x.png');}
.retweet { background-image: url( 'images/288-retweet.png');}
.retweet@2x { background-image: url( 'images/288-retweet@2x.png');}
.rocket { background-image: url( 'images/289-rocket.png');}
.rocket@2x { background-image: url( 'images/289-rocket@2x.png');}
.heart { background-image: url( 'images/29-heart.png');}
.heart@2x { background-image: url( 'images/29-heart@2x.png');}
.bomb2 { background-image: url( 'images/290-bomb2.png');}
.bomb2@2x { background-image: url( 'images/290-bomb2@2x.png');}
.idcard { background-image: url( 'images/291-idcard.png');}
.idcard@2x { background-image: url( 'images/291-idcard@2x.png');}
.crop { background-image: url( 'images/292-crop.png');}
.crop@2x { background-image: url( 'images/292-crop@2x.png');}
.database { background-image: url( 'images/293-database.png');}
.database@2x { background-image: url( 'images/293-database@2x.png');}
.macroflower { background-image: url( 'images/294-macroflower.png');}
.macroflower@2x { background-image: url( 'images/294-macroflower@2x.png');}
.shield { background-image: url( 'images/295-shield.png');}
.shield@2x { background-image: url( 'images/295-shield@2x.png');}
.pizza { background-image: url( 'images/296-pizza.png');}
.pizza@2x { background-image: url( 'images/296-pizza@2x.png');}
.speaker { background-image: url( 'images/297-speaker.png');}
.speaker@2x { background-image: url( 'images/297-speaker@2x.png');}
.circlex { background-image: url( 'images/298-circlex.png');}
.circlex@2x { background-image: url( 'images/298-circlex@2x.png');}
.ticket { background-image: url( 'images/299-ticket.png');}
.ticket@2x { background-image: url( 'images/299-ticket@2x.png');}
.key { background-image: url( 'images/30-key.png');}
.key@2x { background-image: url( 'images/30-key@2x.png');}
.orgchart { background-image: url( 'images/300-orgchart.png');}
.orgchart@2x { background-image: url( 'images/300-orgchart@2x.png');}
.ipod { background-image: url( 'images/31-ipod.png');}
.ipod@2x { background-image: url( 'images/31-ipod@2x.png');}
.iphone { background-image: url( 'images/32-iphone.png');}
.iphone@2x { background-image: url( 'images/32-iphone@2x.png');}
.cabinet { background-image: url( 'images/33-cabinet.png');}
.cabinet@2x { background-image: url( 'images/33-cabinet@2x.png');}
.coffee { background-image: url( 'images/34-coffee.png');}
.coffee@2x { background-image: url( 'images/34-coffee@2x.png');}
.shopping { background-image: url( 'images/35-shopping.png');}
.shopping@2x { background-image: url( 'images/35-shopping@2x.png');}
.toolbox { background-image: url( 'images/36-toolbox.png');}
.toolbox@2x { background-image: url( 'images/36-toolbox@2x.png');}
.suitcase { background-image: url( 'images/37-suitcase.png');}
.suitcase@2x { background-image: url( 'images/37-suitcase@2x.png');}
.airplane { background-image: url( 'images/38-airplane.png');}
.airplane@2x { background-image: url( 'images/38-airplane@2x.png');}
.spraycan { background-image: url( 'images/39-spraycan.png');}
.spraycan@2x { background-image: url( 'images/39-spraycan@2x.png');}
.inbox { background-image: url( 'images/40-inbox.png');}
.inbox@2x { background-image: url( 'images/40-inbox@2x.png');}
.picture-frame { background-image: url( 'images/41-picture-frame.png');}
.picture-frame@2x { background-image: url( 'images/41-picture-frame@2x.png');}
.photos { background-image: url( 'images/42-photos.png');}
.photos@2x { background-image: url( 'images/42-photos@2x.png');}
.film-roll { background-image: url( 'images/43-film-roll.png');}
.film-roll@2x { background-image: url( 'images/43-film-roll@2x.png');}
.shoebox { background-image: url( 'images/44-shoebox.png');}
.shoebox@2x { background-image: url( 'images/44-shoebox@2x.png');}
.movie-1 { background-image: url( 'images/45-movie-1.png');}
.movie-1@2x { background-image: url( 'images/45-movie-1@2x.png');}
.movie-2 { background-image: url( 'images/46-movie-2.png');}
.movie-2@2x { background-image: url( 'images/46-movie-2@2x.png');}
.fuel { background-image: url( 'images/47-fuel.png');}
.fuel@2x { background-image: url( 'images/47-fuel@2x.png');}
.fork-and-knife { background-image: url( 'images/48-fork-and-knife.png');}
.fork-and-knife@2x { background-image: url( 'images/48-fork-and-knife@2x.png');}
.battery { background-image: url( 'images/49-battery.png');}
.battery@2x { background-image: url( 'images/49-battery@2x.png');}
.beaker { background-image: url( 'images/50-beaker.png');}
.beaker@2x { background-image: url( 'images/50-beaker@2x.png');}
.outlet { background-image: url( 'images/51-outlet.png');}
.outlet@2x { background-image: url( 'images/51-outlet@2x.png');}
.pine-tree { background-image: url( 'images/52-pine-tree.png');}
.pine-tree@2x { background-image: url( 'images/52-pine-tree@2x.png');}
.house { background-image: url( 'images/53-house.png');}
.house@2x { background-image: url( 'images/53-house@2x.png');}
.lock { background-image: url( 'images/54-lock.png');}
.lock@2x { background-image: url( 'images/54-lock@2x.png');}
.network { background-image: url( 'images/55-network.png');}
.network@2x { background-image: url( 'images/55-network@2x.png');}
.cloud { background-image: url( 'images/56-cloud.png');}
.cloud@2x { background-image: url( 'images/56-cloud@2x.png');}
.download { background-image: url( 'images/57-download.png');}
.download@2x { background-image: url( 'images/57-download@2x.png');}
.bookmark { background-image: url( 'images/58-bookmark.png');}
.bookmark@2x { background-image: url( 'images/58-bookmark@2x.png');}
.flag { background-image: url( 'images/59-flag.png');}
.flag@2x { background-image: url( 'images/59-flag@2x.png');}
.signpost { background-image: url( 'images/60-signpost.png');}
.signpost@2x { background-image: url( 'images/60-signpost@2x.png');}
.brightness { background-image: url( 'images/61-brightness.png');}
.brightness@2x { background-image: url( 'images/61-brightness@2x.png');}
.contrast { background-image: url( 'images/62-contrast.png');}
.contrast@2x { background-image: url( 'images/62-contrast@2x.png');}
.runner { background-image: url( 'images/63-runner.png');}
.runner@2x { background-image: url( 'images/63-runner@2x.png');}
.zap { background-image: url( 'images/64-zap.png');}
.zap@2x { background-image: url( 'images/64-zap@2x.png');}
.note { background-image: url( 'images/65-note.png');}
.note@2x { background-image: url( 'images/65-note@2x.png');}
.microphone { background-image: url( 'images/66-microphone.png');}
.microphone@2x { background-image: url( 'images/66-microphone@2x.png');}
.tshirt { background-image: url( 'images/67-tshirt.png');}
.tshirt@2x { background-image: url( 'images/67-tshirt@2x.png');}
.paperclip { background-image: url( 'images/68-paperclip.png');}
.paperclip@2x { background-image: url( 'images/68-paperclip@2x.png');}
.display { background-image: url( 'images/69-display.png');}
.display@2x { background-image: url( 'images/69-display@2x.png');}
.tv { background-image: url( 'images/70-tv.png');}
.tv@2x { background-image: url( 'images/70-tv@2x.png');}
.compass { background-image: url( 'images/71-compass.png');}
.compass@2x { background-image: url( 'images/71-compass@2x.png');}
.pin { background-image: url( 'images/72-pin.png');}
.pin@2x { background-image: url( 'images/72-pin@2x.png');}
.radar { background-image: url( 'images/73-radar.png');}
.radar@2x { background-image: url( 'images/73-radar@2x.png');}
.location { background-image: url( 'images/74-location.png');}
.location@2x { background-image: url( 'images/74-location@2x.png');}
.phone { background-image: url( 'images/75-phone.png');}
.phone@2x { background-image: url( 'images/75-phone@2x.png');}
.baby { background-image: url( 'images/76-baby.png');}
.baby@2x { background-image: url( 'images/76-baby@2x.png');}
.ekg { background-image: url( 'images/77-ekg.png');}
.ekg@2x { background-image: url( 'images/77-ekg@2x.png');}
.stopwatch { background-image: url( 'images/78-stopwatch.png');}
.stopwatch@2x { background-image: url( 'images/78-stopwatch@2x.png');}
.medical-bag { background-image: url( 'images/79-medical-bag.png');}
.medical-bag@2x { background-image: url( 'images/79-medical-bag@2x.png');}
.shopping-cart { background-image: url( 'images/80-shopping-cart.png');}
.shopping-cart@2x { background-image: url( 'images/80-shopping-cart@2x.png');}
.dashboard { background-image: url( 'images/81-dashboard.png');}
.dashboard@2x { background-image: url( 'images/81-dashboard@2x.png');}
.dog-paw { background-image: url( 'images/82-dog-paw.png');}
.dog-paw@2x { background-image: url( 'images/82-dog-paw@2x.png');}
.calendar { background-image: url( 'images/83-calendar.png');}
.calendar@2x { background-image: url( 'images/83-calendar@2x.png');}
.lightbulb { background-image: url( 'images/84-lightbulb.png');}
.lightbulb@2x { background-image: url( 'images/84-lightbulb@2x.png');}
.trophy { background-image: url( 'images/85-trophy.png');}
.trophy@2x { background-image: url( 'images/85-trophy@2x.png');}
.camera { background-image: url( 'images/86-camera.png');}
.camera@2x { background-image: url( 'images/86-camera@2x.png');}
.wine-glass { background-image: url( 'images/87-wine-glass.png');}
.wine-glass@2x { background-image: url( 'images/87-wine-glass@2x.png');}
.beer-glass { background-image: url( 'images/88-beer-glass.png');}
.beer-glass@2x { background-image: url( 'images/88-beer-glass@2x.png');}
.dumbells { background-image: url( 'images/89-dumbells.png');}
.dumbells@2x { background-image: url( 'images/89-dumbells@2x.png');}
.lifebuoy { background-image: url( 'images/90-lifebuoy.png');}
.lifebuoy@2x { background-image: url( 'images/90-lifebuoy@2x.png');}
.beaker-2 { background-image: url( 'images/91-beaker-2.png');}
.beaker-2@2x { background-image: url( 'images/91-beaker-2@2x.png');}
.test-tube { background-image: url( 'images/92-test-tube.png');}
.test-tube@2x { background-image: url( 'images/92-test-tube@2x.png');}
.thermometer { background-image: url( 'images/93-thermometer.png');}
.thermometer@2x { background-image: url( 'images/93-thermometer@2x.png');}
.pill { background-image: url( 'images/94-pill.png');}
.pill@2x { background-image: url( 'images/94-pill@2x.png');}
.equalizer { background-image: url( 'images/95-equalizer.png');}
.equalizer@2x { background-image: url( 'images/95-equalizer@2x.png');}
.book { background-image: url( 'images/96-book.png');}
.book@2x { background-image: url( 'images/96-book@2x.png');}
.puzzle-piece { background-image: url( 'images/97-puzzle-piece.png');}
.puzzle-piece@2x { background-image: url( 'images/97-puzzle-piece@2x.png');}
.palette { background-image: url( 'images/98-palette.png');}
.palette@2x { background-image: url( 'images/98-palette@2x.png');}
.umbrella { background-image: url( 'images/99-umbrella.png');}
.umbrella@2x { background-image: url( 'images/99-umbrella@2x.png');}
.power-small { background-image: url( 'images_white/51-power-small.png');}
.power { background-image: url( 'images_white/51-power.png');}
.power@2x { background-image: url( 'images_white/51-power@2x.png');}
.circle-plus { background-image: url( 'images_white/31-circle-plus.png');}
.circle-x { background-image: url( 'images_white/37-circle-x.png');}

